<h1 class="Home-title">
Welcome to Our Home page!
</h1>
<p class="Home-authenticate">If you are a new user, please <%=link_to "sign up here", new_user_path%> </p>

<p class="Home-authenticate">If you are an existing user, please  <%=link_to "sign in here", new_sessions_path%></p>

