
  <main class="Todomain">
        
        <h1 class="Todo-title"> My Todo-List</h1>
        <article>
            <div class="AddTodo">
            <%= form_with(url: "/todos", method: "post") do %>
               
                    <input type="text" placeholder="Add your Todo!" class="AddTodo-text" name="todo_text"> 
                    <input type="date" class="AddTodo-date" name="due_date">
                    <input type="submit" value="Add" class="TodoButton">
               
            <% end %>
            </div>
            
            <%= render partial: "todo-section", locals: {
                section_title: "Overdue",
                todos: @todos.overdue,
                #todos: Todo.show
                } %>
            <%= render partial: "todo-section", locals: {
                section_title: "Due Today",
                todos: @todos.due_today
                } %>
            <%= render partial: "todo-section", locals: {
                section_title: "Due Later",
                todos: @todos.due_later
                } %>
            
        </article>
</main>
