<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Management App</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="my-app.css">
</head>
<body>
    <main class="Todomain">
        <img class="splashimage" src="side-bar.jpg">
        <h1 class="Todo-title"> My Todo-List</h1>
        <article>
            <div class="AddTodo">
                <form>
                    <input type="text" placeholder="Add your Todo!" class="AddTodo-text"> 
                    <input type="date" class="AddTodo-date">
                    <input type="button" value="Add" class="TodoButton">
                </form>
            </div>
            <section class="TodoSection">
                <div class="Todosection-title">
                <p class="Todosection-title-text"> Due Today</p>
                <p class="Todosection-remaining">0/4</p>
                </div>
                <ul>
                <li class="Todo-todo">
                <label class="Todosection-container">
                    <input type="checkbox"> Submit Saas 201 project</label> </li>
                <li class="Todo-todo">
                    <label class="Todosection-container">
                    <input type="checkbox">  Call accountant</label></li>
                </ul>
            </section>
        
            <section class="TodoSection">
                <div class="Todosection-title">
                <p class="Todosection-title-text">Due Later </p>
                <p class="Todosection-remaining">0/4</p>
                </div>

                <ul>
                <li class="Todo-todo">
                    <label class="Todosection-container">
                        <input type="checkbox"> Refill groceries</li>
                <li class="Todo-todo">
                    <label class="Todosection-container">
                        <input type="checkbox"> Pay Electricity bills</li>
                </ul>
                
            </section>
        </article>
</main>
</body>
</html>